
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/stuff/style.css">
</head>
<body>
    
    <% include partial/nav.ejs %>
   <div class="main">
       <h2 id="h2about">This is About Page:</h2>
       
           <ol>
                <li class="aboutli">Add user details WITHOUT PAGE REFRESH in user table of mongodb</li>
               <br> <br> <li class="aboutli"> Validation for email, phone number and empty fields </li>
               <br> <br> <li class="aboutli"> Display user details in table once added </li>
               <br> <br> <li class="aboutli">Remove particular user detail without page refresh </li>
               <br> <br> <li class="aboutli"> Search detail through given filter </li>
               <br> <br> <li class="aboutli">Sort detail based on selected column</li>
           </ol>
       
   </div>

</body>
</html>