<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>


    <link rel="stylesheet" href="./stuff/style.css">
</head>
<body>


    <% include partial/nav.ejs %>
    <div class="main">


      <div class="titlediv">
          <h1 id="home">This is Form Data Store in MongoDB and Retrive Data form MongoDB and show in Table Now</h1>
      </div>
      <div class="formlinkdiv">
          <h1><a href="/form" style="color:skyblue">go to form...</a></h1>
      </div>

    </div>
    
 


</body>
</html>