<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>


    <link rel="stylesheet" href="./stuff/style.css">
</head>
<body>


    <% include partial/nav.ejs %>
    <div class="main">


      <div class="titlediv">
          <h1>Data Store in DataBase success full..</h1>


    </div>
    
 


</body>
</html>